# Compiled object files
*.o
*.obj

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe

# Build directory
build/

# Dependency directories
dependencies/

# IDE specific files
.vscode/
*.sln
*.vcxproj
*.vcxproj.filters
*.user
*.userprefs
*.suo
*.sdf
*.opensdf
*.cproj
*.cache
*.ilk
*.log
*.tlog
*.pdb
*.ipch/
*.bak
*.tmp
*.vs/
